*{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* header / banner section styles */
header{
    background:rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 83px;
    align-items: center;
    padding: 0 120px;
    margin: 0 0 130px 0;

}

.banner-text-container{
}
.banner-heading{
    color: #272727;
    font-size: 63px;
    font-weight:900;
    margin: 0 0 20px 0;
}
.banner-text{
    margin: 0 0 20px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 27px;
    
}
.primary-button{
    border-radius: 8px;
    background: #E55473;
    padding: 18px 38px;
    color: #FFF;
    font-weight: 600;
    border: 0;
}
.banner-photo{
    width: 45%;
    padding: 50px 0 0 0;
}

/* 2nd part / feature part style */
.feature{
    padding: 0 120px;
    margin: 0 0 130px 0;
}
.section-text{
    text-align: center;
}
.section-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}
.section-text{
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 25px; 
    text-align: center;
    padding: 0 15%
}
.round-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 25px;
    

}
.card{
   
}
.pink-card{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
height: 400px;
width: 350px;
position: relative;
}
.paste-card{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 400px;
    width: 350px;
    position: relative;
}
.light-green-card{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 400px;
    width: 350px;
    position: relative;

}
.card-image{
    width:60%;
    padding: 80px 76px 0 76px;
    height: 80%;
    
}
.feature a {
   display: inline-block;
   margin-top: 30px;
   color: #272727;
    font-size: 18px;
    font-weight: 700;

}

/* icon section style */
.icon-section{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 120px 130px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    gap: 100px;
}
.icon-container{
    padding: 90px 0;
    text-align: center;
}
.icon-img{

}
.icon-text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    margin-top: 24px;
}